:root {
  --color-negro: #000000;
  --color-rojo: #841818;
  --color-amarillo: #e0bb20;
  --color-gris: #171717;
  --titulos: Bungee;
  --subtitulos: fuente-rubik-mono-one;
  --contenidos: Suravaram;
  --botones: Kanit;
  --noticias: DM-Mono;
  --subtextos: Sintony;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: linear-gradient(
    to bottom,
    var(--color-amarillo),
    var(--color-negro)
  );
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 60px !important;
  text-align: center;
  font-family: var(--titulos) !important;
  text-shadow: 1px 1px 2px black, 0 0 25px var(--color-rojo),
    0 0 5px var(--color-rojo);
  -webkit-text-stroke: 2px var(--color-rojo);
  color: var(--color-negro) !important;
  filter: blur(3px);
  transition: 0.3s all;
}

h1:hover {
  filter: blur(0);
}

h2 {
  font-size: 30px;
  color: var(--color-negro) !important;
  text-align: center;
  font-family: var(--titulos);
  -webkit-text-stroke: 2px var(--color-rojo);
  text-shadow: 1px 1px 2px black, 0 0 25px var(--color-rojo),
    0 0 5px var(--color-rojo);
  letter-spacing: 15px;
  position: relative;
  bottom: 15px;
  left: 10px;
}

h3 {
  font-size: 50px;
  color: var(--color-negro);
  text-align: center;
  font-family: var(--subtitulos);
  -webkit-text-stroke: 2px var(--color-rojo);
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 30px;
  color: var(--color-amarillo);
  -webkit-text-stroke: 1px var(--color-rojo);
  font-family: var(--subtextos);
  text-shadow: 1px 1px 2px black, 0 0 25px var(--color-rojo),
    0 0 5px var(--color-rojo);
  text-align: center;
}

h5 {
  font-size: 25px;
  color: var(--color-gris);
  -webkit-text-stroke: 1px var(--color-rojo);
  font-family: var(--subtitulos);
  letter-spacing: 1px;
}

/*Header de la pàgina*/
.SeccionHeader {
  display: flex;
  flex-direction: column;
}

.Cabecera {
  min-width: 100%;
  display: flex;
  margin-top: 90px;
  padding-left: 20px;
  padding-right: 10px;
  justify-content: space-between;
}

.MarcaFutbolero {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 120px;
  margin: -20px auto;
  display: block;
  box-shadow: 0 0 10px var(--color-negro);
  transition: transform 0.8s;
  border-radius: 50%;
}

.logo:hover {
  transform: rotate(360deg);
}

.SeccionPersonal {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  bottom: 30px;
}

.BotonesPrincipales {
  display: flex;
  gap: 20px;
  margin: 5px;
}
/*Fin del header*/

main {
  margin: 0 auto;
  height: auto;
}
.content {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 60px;
}

.button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  transition: all 0.2s;
  position: relative;
  border: 2px solid var(--color-amarillo);
  box-shadow: 2px 2px 0 0 #000000;
  background: #000;
  font-family: var(--botones);
  border-radius: 5px;
}
a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px;
}

a:hover {
  color: #000000 !important;
  font-size: 20px;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 50%;
  background: #e0bb20;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.7s;
  transform: translateY(-50%);
}

.button:before {
  left: 0%;
  border-radius: 0px 2px 2px 0px;
}

.button:after {
  right: 0%;
  border-radius: 2px 0px 0px 2px;
}

.button:hover {
  color: #000;
  box-shadow: #841818 0 30px 60px -12px inset, #841818 0 18px 36px -18px inset,
    2px 5px 0 0 #000000;
  z-index: 2;
  font-family: var(--botones);
  border-radius: 5px;
  transform: translateY(-4px) translateX(-2px);
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 20px 50px 0 0 black;
}

.button:hover::before {
  width: 50%;
  left: 50%;
}

.button:hover::after {
  width: 50%;
  right: 50%;
}

/* Estilos del footer */
footer {
  background-color: var(--color-rojo);
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer h4 {
  font-size: 30px;
  margin: 0 auto;
}

footer:hover {
  background-color: var(--color-amarillo);
  color: var(--color-negro);
}

footer:hover h4:hover {
  font-size: 30px;
}

.MainFooter {
  display: flex;
}
/*Información del footer*/
.InformacionFooter {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 15px;
  margin-top: 50px;
}

.Asociados {
  display: flex;
  flex-direction: column;
}

.InfoAsociados {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 10px;
}

.ImgInformacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImgInformacion span{
 font-family: var(--botones);
 font-size: 20px;
}
.ImgInformacion img {
  height: auto;
  width: 60px;
}
/*Redes sociales footer*/
.RedesyContacto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.social-card {
  height: 14vh;
  width: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: var(--color-gris);
  padding: 20px 25px;
  border-radius: 14px;
  margin: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.BtnRedes {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.ImgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.ImgContainer img {
  height: 50px;
  width: auto;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
  background: white;
}

.BtnRedes:hover .BG {
  transform: scale(1.5);
  font-size: 20px;
  color: white;
}

/*Tarjeta de contacto usuario*/
/* Unique styles for the newsletter form */
.newsletter-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--color-negro);
  border-radius: 8px;
  background-color: white;
  font-family: Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-negro);
  border-radius: 4px;
}

.newsletter-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-rojo);
  color: var(--color-negro);
  font-weight: bold;
  cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
  background-color: var(--color-amarillo);
}
