:root {
  --color-negro: #000000;
  --color-rojo: #841818;
  --color-amarillo: #e0bb20;
  --color-gris: #171717;
  --titulos: Bungee;
  --subtitulos: fuente-rubik-mono-one;
  --contenidos: Suravaram;
  --botones: Kanit;
  --noticias: DM-Mono;
  --subtextos: Sintony;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  line-height: normal;
  background: linear-gradient(
    to bottom,
    var(--color-amarillo),
    var(--color-negro)
  );
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.atras {
  width: 50px;
  position: relative;
  top: 20px;
  left: 20px;
}

.logo {
  width: 120px;
  margin: -20px auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: transform 0.8s;
  border-radius: 50%;
}

.logo:hover {
  transform: rotate(360deg);
}

h1 {
  font-size: 60px !important;
  text-align: center;
  font-family: var(--titulos);
  text-shadow: 1px 1px 2px black, 0 0 25px var(--color-rojo),
    0 0 5px var(--color-rojo);
  -webkit-text-stroke: 2px var(--color-rojo);
  color: var(--color-negro) !important;
  filter: blur(3px);
  transition: 0.3s all;
}

h1:hover {
  filter: blur(0);
}

h2 {
  font-size: 30px;
  color: var(--color-negro) !important;
  text-align: center;
  font-family: var(--titulos);
  -webkit-text-stroke: 2px var(--color-rojo);
  text-shadow: 1px 1px 2px black, 0 0 25px var(--color-rojo),
    0 0 5px var(--color-rojo);
  letter-spacing: 15px;
  position: relative;
  bottom: 15px;
  left: 10px;
}

h3 {
  font-size: 50px !important;
  color: var(--color-negro) !important;
  text-align: center;
  font-family: var(--subtitulos);
  -webkit-text-stroke: 2px var(--color-rojo);
  padding: 0;
  margin: 0;
}

/*Nuevo registro*/
.formdatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: var(--color-gris);
  border-radius: 20px;
}

#heading {
  text-align: center;
  margin: 2em;
  color: var(--color-amarillo);
  font-size: 1.2em;
  font-family: var(--titulos);
  font-size: 30px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: var(--color-amarillo);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--color-amarillo);
}

/* Estilos del botón */
.btn {
  margin-top: 10px; /* Espacio entre los botones */
}

.button {
  background-color: var(--color-verde);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--color-verde-oscuro);
}

/* Estilos del enlace dentro del botón */
.button-link {
  color: white;
  text-decoration: none;
}

.button-link:hover {
  text-decoration: underline;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
  gap: 20px;
}

.card {
  background-image: linear-gradient(163deg, #e4cb67 0%, #e0bb20 100%);
  border-radius: 20px !important;
  transition: all 0.3s;
  width: 40%;
  margin: 20px auto;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
  border-radius: 25px;
  width: 97%;
  margin: 5px auto;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px var(--color-rojo);
}

img {
  width: 30px;
}

/*Inicio Botones y enlaces*/
.button {
  padding: 8px; /* Ajusta el padding */
  font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  color: #fff;
  transition: all 0.2s;
  position: relative;
  border: 2px solid var(--color-amarillo);
  box-shadow: 2px 2px 0 0 #000000;
  background: #000;
  font-family: var(--botones);
  border-radius: 5px;
}

a {
  text-decoration: none !important;
  color: #fff !important;
  font-size: 20px;
  text-align: center;
}

a:hover {
  color: #000000 !important;
  font-size: 20px;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 50%;
  background: #e0bb20;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.7s;
  transform: translateY(-50%);
}

.button:before {
  left: 0%;
  border-radius: 0px 2px 2px 0px;
}

.button:after {
  right: 0%;
  border-radius: 2px 0px 0px 2px;
}

.button:hover {
  color: #000;
  box-shadow: #841818 0 30px 60px -12px inset, #841818 0 18px 36px -18px inset,
    2px 5px 0 0 #000000;
  z-index: 2;
  font-family: var(--botones);
  border-radius: 5px;
  transform: translateY(-4px) translateX(-2px);
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 20px 50px 0 0 black;
}

.button:hover::before {
  width: 50%;
  left: 50%;
}

.button:hover::after {
  width: 50%;
  right: 50%;
}

a.enlaces {
  color: #e0bb20 !important;
  font-family: var(--subtitulos);
}

a.enlaces:hover {
  color: #841818 !important;
}

/*Inicio terminos y condiciones css*/
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 0px;
}

a.Terminos {
  text-align: end;
  color: #e0bb20 !important;
  font-family: var(--subtitulos);
}

.checkbox-wrapper:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper {
  display: flex;
  width: 50px;
}

.checkbox-wrapper .background {
  fill: var(
    --color-rojo
  ); /* Cambiamos el color de fondo por el color gris definido */
  transition: ease all 0.6s;
}

.checkbox-wrapper .stroke {
  fill: none;
  stroke: var(
    --color-negro
  ); /* Cambiamos el color del contorno por el color negro definido */
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
}

.checkbox-wrapper .check {
  fill: none;
  stroke: var(
    --color-negro
  ); /* Cambiamos el color del chulo por el color negro definido */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
}

.checkbox-wrapper input[type="checkbox"] {
position: relative;
  width: 100%;
  height: 100%;
  left: 25px;
  top: 6px;
  margin: 0;
  opacity: 0;
  -appearance: none;
}

.checkbox-wrapper input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .background {
  fill: var(
    --color-amarillo
  ); /* Cambiamos el color de fondo cuando está seleccionado por el color amarillo definido */
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
}

.col-lg-10 {
  width: auto;
  padding: 0; /* Reduce el ancho para dejar más espacio */
}

.col-lg-2 {
  width: 10%;
  padding: 0; /* Reduce el ancho para dejar más espacio */
  margin: 0 10px 0 0;
}

/*Final terminos y condiciones css*/
/* Estilos del footer */
footer {
  background-color: var(--color-rojo);
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer h4 {
  font-size: 30px;
  margin: 0 auto;
}

footer:hover {
  background-color: var(--color-amarillo);
  color: var(--color-negro);
}

footer:hover h4:hover {
  font-size: 30px;
}

.MainFooter {
  display: flex;
}
/*Información del footer*/
.InformacionFooter {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 15px;
  margin-top: 50px;
}

.Asociados {
  display: flex;
  flex-direction: column;
}

.InfoAsociados {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 10px;
}

.ImgInformacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImgInformacion span{
 font-family: var(--botones);
 font-size: 20px;
}
.ImgInformacion img {
  height: auto;
  width: 60px;
}
/*Redes sociales footer*/
.RedesyContacto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.social-card {
  height: 14vh;
  width: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: var(--color-gris);
  padding: 20px 25px;
  border-radius: 14px;
  margin: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.BtnRedes {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.ImgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.ImgContainer img {
  height: 50px;
  width: auto;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
  background: white;
}

.BtnRedes:hover .BG {
  transform: scale(1.5);
  font-size: 20px;
  color: white;
}

/*Tarjeta de contacto usuario*/
/* Unique styles for the newsletter form */
.newsletter-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--color-negro);
  border-radius: 8px;
  background-color: white;
  font-family: Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-negro);
  border-radius: 4px;
}

.newsletter-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-rojo);
  color: var(--color-negro);
  font-weight: bold;
  cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
  background-color: var(--color-amarillo);
}

